/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.2.2018, 19:00:32
    Author     : Satu
*/
body{
    background-color: lightblue;
}
form{
    margin-left: 20%;
    margin-right: 20%;
}
div{
    margin: auto;
    width: 80%;
}
.main{
    background-color: wheat;
}
